body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    padding-left: 30px;
    margin-top: 25px;
    color: rgb(227, 227, 227);
}

p {
    margin-top: -20px;
    font-size: 15px;
    color: rgb(217, 217, 217);
    padding: 30px;
}

footer {
    font-size: 14px;
    text-align: center;
    color: white;
    width: 100%;
    height: 25px;
    padding-top: 5px;
    position: absolute;
    bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #A31A27;
    text-decoration: underline;
}

.info {
    background-color: #353535;
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.fa-globe {
    margin-left: 30px;
    margin-right: 15px;
}

.info .fa {
    margin-top: -10px;
    font-size: 30px;
    color: #FDAA01;
    text-decoration: none;
}
#container {
    width: 75%;
    padding-bottom: 4.8%;
    position: relative;
    right: -25%;
}

#select {
    position: inherit;
    left: 44%;
    margin-top: 20px;
    margin-bottom: 25px;
    outline: none;
}

#box {
    margin: auto;
    width: 760px;
}

.block {
    display: inline-block;
}

.portfolio {
    height: 250px;
    margin: 0;
}

[id^="img0"] {
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

[id^="img0"]:hover {
    opacity: 0.7;
}

.sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}

.black-white {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.invert {
    -webkit-filter: invert(.8);
    filter: invert(.8);
}

.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

#caption {
    color: #ccc;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    height: 30px;
}

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }